h1{
    font-family: cursive;
    -webkit-font-smoothing: antialiased;  
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

main::after {
    content: '';
    background: url('../../assets/bg.jpg') #edd29d;
    background-repeat: none;
    background-size: 100% auto;
    height: 130%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;    
}
